@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.scroll-custom::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.scroll-custom::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}

/* globals.css livekit */
[data-lk-theme="default"] .lk-chat {
  border-radius: 0.75rem; /* 16px (rounded-2xl en Tailwind) */
  height: 91vh;
  margin-top: 7px; /* 16px (mt-4 en Tailwind) */
  overflow: hidden;
}
